@charset "UTF-8";

/* This CSS file contains all stylings that are applicable to home.html */
html { scroll-behavior: smooth;}
#solar-contact-section {
    padding: 0.5em 0 2em 0;
    background-color: #f7f7f7;
}

#solar-realworld {
    padding: 1.5em 0 0 0;
}

#solar-realworld img {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

#solar-realworld h3 {
    font-size: 28px;
}

#solar-realworld p {
    font-size: 18px;
}

.solar-counter {
    padding-top: 56px;
}

#solar-race-section {
    background-color: #f7f7f7;
}

#solar-race-section #solar-race {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1;
    background-color: #f7f7f7;
    text-align: center;
}

#solar-race h3 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#solar-race-section img {
    width: 25em;
    height: auto;
    padding-right: 50px;
    float: left;
}

#solar-race .solar-race-desc {
    font-size: 1em;
    text-align: center;
}

#solar-race-section iframe {
    margin: 3% auto;
}

#solar-leaders {
    text-align: center;
}

.solar-title {
    font-size: 2.5em;
}

#solar-leaders .solar-description {
    font-size: 1.4em;
}

#solar-eboard-holder {
    overflow: hidden;
    position: relative;
}

#solar-eboard-holder img {
    max-width: 90%;
}

.mb-4, .my-4 {
    margin-bottom: 0rem !important;
}

#solar-race-section {
    padding-top: 1em;
    padding-bottom: 0;
}

.solar-leader-section {
    background-color: #f7f7f7;
    padding-top: 1em;
    padding-bottom: 0;
}

.solar-form {
    margin: 0 auto;
}

.pr-md-5, .px-md-5 .solar-form {
    padding: 0 !important;
}

#solar-sponsors-section {
    padding-top: 1.8em;
    padding-bottom: 0;
}

#solar-sponsors {
    text-align: center;
}

#solar-sponsors .solar-img-holder {
    overflow: hidden;
    position: relative;
}

#solar-sponsors .solar-description {
    font-size: 1.8em;
    padding-top: 0.5em;
    color: rgb(255, 255, 255);
}

#solar-sponsors img {
    max-width: 49%;
    padding-right: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#solar-sponsors hr {
    border: 1px solid #f7f7f7;
}

#solar-race-section .solar-title {
    margin: 0 auto;
}

#solar-about-section {
    padding-top: 1em;
    padding-bottom: 0;
    
}

#solar-about-section .solar-title {
    text-align: center;
}

#solar-about .solar-paragraph {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

.solar-button {
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    line-height: 1;
    
    color: rgb(0, 0, 0);
    
    padding: 10px;
    border: 2px solid rgb(88, 88, 88);
    font-size: 2em;
}

.solar-button:hover {
    background-color: rgb(88, 88, 88);
    
}

#solar-sponsor-link {
    margin-bottom: 0.4em;
}

#solar-contact-section a {
    display: block;
    text-align: center;
}

#solar-contact-section .solar-button-holder {
    width: 15em;
    margin: 0 auto;
}

#solar-contact-section .solar-button {
    width: 7em;
    margin: 0.6em auto;
}

#solar-join-link {
    margin: 0.6em auto;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    line-height: 1;
    
    color: rgb(0, 0, 0);
    
    padding: 10px;
    border: 2px solid rgb(88, 88, 88);
    font-size: 2em;
}

#solar-join-link:hover {
    background-color: rgb(88, 88, 88);
    
}

#solar-donate-link {
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

#solar-contact-section .solar-socmed-link {
    transition: background-color 0.4s ease;
    display: inline-block;
    border-radius: 100px;
}

#solar-contact-section #solar-fb-link:hover {
    background-color: rgb(88, 88, 88);
}

#solar-contact-section #solar-insta-link:hover {
    background-color: rgb(88, 88, 88);
}

#solar-contact-section #solar-twit-link:hover {
    background-color: rgb(88, 88, 88);
}

#solar-contact-section .solar-socmed-link img {
    padding: 0.6em;
}

#solar-contact-section #solar-insta-link {
    margin: 0 1em;
}

#solar-contact-section #solar-socmed {
    width: 18.2em;
    margin: 1em auto 0 auto;
}

#solar-contact-section #solar-email {
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
}

#solar-contact-section #solar-email img {
    width: 1.4em;
    height: auto;
}

@media (max-width: 476px) {
    #solar-contact-section .solar-button {
        width: 6em;
    }

    #solar-contact-section .solar-button-holder {
        width: 15em;
    }

    #solar-race-section img {
        width: 90%;
        padding-right: 0;
        margin: 3% 5%;
    }

    #solar-contact-section #solar-email {
        font-size: 1em;
    }

    #solar-race-section iframe {
        width: 90%;
        height: auto;
        margin: 3% 5%;
    }

    #solar-sponsors img {
        max-width: 96%;
        padding: 0;
        margin: 3% 2% 0 2%;
    }

    .solar-title {
        line-height: 1.2;
        margin-bottom: 1.5%;
    }
}
.dark-mode {
    background-color: #202020;
    color: white;
  }

  
